* {
    box-sizing: border-box;
}
h2 {
    margin-bottom: 30px;
}
.area {
    display: flex;
}
.area .leftside {
    flex:1;
}
.area .rightside {
    margin: 0 auto;
}
.area .rightside iframe {
    width: 360px;
    height: 640px;
    border: 5px solid #000;
    border-radius: 20px;
    margin: 20px;
    padding: 25px 0 25px 0;
    background-color: #000;
}
#links {
    padding: 0;
    list-style: none;
    margin: 20px;
}
.btn {
    margin-bottom: 20px;
    width: 100%;
}
.link--item {
    display: flex;
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 2px 2px #CCC;
}
.link--item--order {
    cursor:move;
    margin-right: 10px;
}
.link--item--info {
    flex:1;
}
.link--item--title {
    font-weight: bold;
}
.link--item--buttons {
    display: flex;
}
.link--item--buttons .btn  {
    margin: 3px;
}


