* {
    box-sizing: border-box;
}
h2 {
    padding-bottom: 30px;
}
.area {
    display: flex;
    flex:1;
}
.area .leftside {
    flex:1;
    border-right: 1px solid #CCC;
}
.area .leftside{
    flex:1;
    border-right: 1px solid #CCC;
}
.area .rightside {
    margin: 0 auto;
}
.area .rightside iframe {
    width: 360px;
    height: 640px;
    border: 5px solid #000;
    border-radius: 20px;
    margin: 20px;
    padding: 25px 0 25px 0;
    background-color: #000;
}



